{{ if .IsHome }}
<div class="link-list">
  <div class="link-list-left">
    <div><span class="ex-link"><a href="https://store.steampowered.com/search/?developer=SAFE%20HAVN%20STUDIO">Steam</a></span></div>
    <div><span class="ex-link"><a href="https://bsky.app/profile/safehavn.dev">Bluesky</a></span></div>
    <div><span class="ex-link"><a href="https://x.com/saekogame">Twitter</a></span></div>
    <div><span class="ex-link"><a href="http://www.youtube.com/@safehavnstudio">YouTube</a></span></div>
  </div>
</div>
{{ end }}
<div class="footer">
  <div class="footer-left">© {{ site.Title }}</div>
  <div class="footer-right"><a href="#">Top</a> ↑</div>
</div>
